*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: green;
}

h1{
    color: aqua;
    text-align: center;
}

header{
	width: 100%;
}

.navegacion{
	width: 1000px;
	margin: 30px auto;
	background: orange;
    text-align: center;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: black;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: blue;
}

/*Sub*/

.sub{
	position: absolute;
	background: blue;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}
.sub li a{
	display: block;
	padding: 15px;
	color: white;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .sub{
	visibility: visible;
	opacity: 1;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: pink;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}
.submenu li a{
	display: block;
	padding: 15px;
	color: red;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}